* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

button[data-start] {
  display: block;
  border: 1px solid #212121;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

button[data-stop] {
  display: block;
  border: 1px solid #212121;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

button[data-start]:hover,
button[data-start]:focus,
button[data-stop]:hover,
button[data-stop]:focus {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.timer {
  display: flex;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
